{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">

        <div class="container">
            <!--
            NavBar Brand Element
            -->
           {% comment %} <a class="navbar-brand " href="#">Play n' Trade</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>{% endcomment %}

            <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img src="{% static 'carousel_component/PlayNTradeLogoText.png' %}" alt="Logo" width="204" height="82" class="d-inline-block align-text-top">
                  {% comment %}Bootstrap{% endcomment %}
                </a>
              </div>
            </nav>
            <!--
            The Nav Link Elements
            -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!--
                    Home NavLink
                    -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../home/">Home</a>
                    </li>
                    {% for main_category in items.nav_cat %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ main_category.id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ main_category.name }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ main_category.id }}">
                                {% for product_category in main_category.productcategory_set.all %}
                                    <li><a class="dropdown-item" href="#">{{ product_category.category_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>

                <!--
                  SearchBar Navbar
                -->
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <!--        &lt;!&ndash;-->
                <!--          Shopping Cart Icon-->
                <!--        &ndash;&gt;-->
                <!--        <li class="nav-item">-->
                <!--          <a class="nav-link" href="#">-->
                <!--              <i class="bi bi-cart"></i>-->
                <!--          </a>-->
                <!--        </li>-->

                <!--        &lt;!&ndash;-->
                <!--          User Account Icon-->
                <!--        &ndash;&gt;-->
                <!--        <li class="nav-item">-->
                <!--            <a class="nav-link" href="#">-->
                <!--                <i class="bi bi-person"></i>-->
                <!--            </a>-->
                <!--        </li>-->
            </div>

        {% comment %} icon for user profile {% endcomment %}

          <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar" href="#">
                  <img src="{% static 'carousel_component/testing.jpg' %}" alt="User Profile Icon" width="30" height="24" class="d-inline-block align-text-top">

                </a>
              </div>
            </nav>
        {% comment %} icon for user profile {% endcomment %}
            <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar" href="#">
                  <img src="{% static 'carousel_component/testing.jpg' %}" alt="User Profile Icon" width="30" height="24" class="d-inline-block align-text-top">
                </a>
              </div>
            </nav>
        </div>
    </nav>
</body>
</html>